@using ContractsTracking.Utility.Models;
@model Contract
@{
    ViewData["Title"] = "Contract";
}

<h1>@ViewData["Data"]</h1>
<div>
    <ul>
        <li>Customer Name: @Model.customerName</li>
        <li>Status: @Model.status</li>
        <li>Dealer Name: @Model.dealerName</li>
        <li>Dealer Number: @Model.dealerNumber</li>
        <li>Dealer Notes: @Model.dealerNotes</li>
        <li>Amount Financed: @Model.amountFinanced</li>
    </ul>

    <h3>Comments:</h3>
    <ul>
        <li>
            First Comment!
        </li>
    </ul>
    <textarea></textarea>

    <h3>Pending Issues:</h3>
    <table class="table table-sm table-striped table-hover border-bottom">
        <thead>
            <tr>
                <th>Issue</th>
                <th>Assigned Group</th>
                <th>Status</th>
                <th>Time Reported</th>
            </tr>
        </thead>
        <tbody>
            @foreach(PendingIssue issue in Model.pendingIssues)
            {
                <tr>
                    <td>@issue.Name</td>
                    <td>@issue.AssignedGroup</td>
                    <td>@issue.Status</td>
                    <td>@issue.TimeReported.ToString("MM/dd/yyyy HH:mm tt")</td>
                </tr>
            }
        </tbody>
    </table>
    <textarea></textarea>
</div>
